@import url("https://fonts.googleapis.com/css?family=Lato:400,800");
* {
    font-family: "Lato", sans-serif;
    font-weight: 800;
}
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}
.row {
    width: 100%;
}
.half {
    width: 48%;
    display: inline;
    float: left;
}
.container {
    margin-left: 10%;
    width: 80%;
    text-align: center;
}
#main {
    display: none;
}

/* Loader */
.loader {
    border: 16px solid #fcc3c3;
    border-top: 16px solid #cd34db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box {
    height: 150px;
    width: 50%;
    display: inline-block;
    border: 1px solid #a55a45;
    background-color: #e8a87c;
    margin-right: 5px;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px #000;
    -ms-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
    text-align: center;
    cursor: move;
    margin-top: 2%;
}
.box.over {
    border: 2px dashed #000;
}
.box header {
    color: #fff;
    text-shadow: #000 0 1px;
    box-shadow: 5px;
    padding: 5px;
    background: #e27d60;
    border: 1px solid #a55a45;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.column {
    float: left;
    width: 32%;
    padding: 0.5%;
}

.column#rank {
    color: #523541;
    font-size: 50px;
}

.monster-img {
    max-height: 100px;
    width: auto;
    max-width: 100px;
    height: auto;
}
.monsterIcon {
    padding: 5%;
    cursor: pointer;
}

.addMonsterButton {
    cursor: pointer;
}
#counter {
    display: inline-block;
    width: 50%;
    background-color: #c38d9e;
    border-radius: 10px;
    margin-top: 0.5em;
    padding: 0.5em;
}

#monsterForm {
    display: none;
    border-radius: 10px;
    height: 230px;
    margin: auto;
    width: 300px;
    position: relative;
}
#monsterForm input {
    color: #000;
    border-radius: 8px;
    margin: 1%;
    display: inline-block;
    padding: 6px 12px;
    width: 250px;
}
#monsterForm label {
    vertical-align: middle;
    color: #000;
    border-radius: 8px;
    margin: 20px;
    display: inline-block;
    padding: 10px 12px;
    cursor: pointer;
}
.addForm {
    background: #85dcb0;
}
.addForm input {
    background-color: #41b3a3;
    border: 1px solid #2d7a70;
}
.addForm label {
    background-color: #41b3a3;
    border: 1px solid #2d7a70;
}
.updateForm {
    background: #8587dc;
}
.updateForm input {
    background-color: #41b3a3;
    border: 1px solid #2d7a70;
}
.updateForm label {
    background-color: #41b3a3;
    border: 1px solid #2d7a70;
}

#minusButton {
    display: none;
}
.upload-btn-wrapper {
    position: absolute;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    opacity: 0;
}

.btn {
    color: #000;
    background-color: #41b3a3;
    border-radius: 8px;
    margin: 1%;
    border: 1px solid #2d7a70;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#errors {
    font-size: 12px;
    color: red;
}

#preview {
    height: 100px;
    background: #ccc;
    border-radius: 15px;
    margin: 5px;
}
#preview img {
    height: 100px;
}

.iconsDiv {
    width: min-content;
    margin: auto;
}

.icon {
    padding: 5px;
    cursor: pointer;
}
